@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.cell-board-game{
    background: none;
    border-radius: 3px;
    width: 164px;
    height: 166px;
    outline: none;
    color:rgba(255, 255, 255, 0.733);
    font-size: 4rem;
    font-family: 'Patrick Hand', cursive;
}
.grid-board-game{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin: 0 auto;  
}
.game-styling{
    font-size: 2rem;
}
body{
    background-image: url("https://images.pexels.com/photos/2675047/pexels-photo-2675047.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    color:white;
    font-family: 'Patrick Hand', cursive;
}